:root {
--btn-color:#854836;
--primary-color:  #d8cbbb ;
--primary-font: font-family: 'Playfair Display', serif;
--secondary-font: font-family: 'Poppins', sans-serif;
}
.hero {
background-color: var(--primary-color);
text-align: center;
padding: 160px 20px;
}
div {
    display:block
}
h1 {
    font-family: var(--primary-font);
    font-size: 96px;
    font-weight: bold;
    color: white;
}
h2 {
    font-family: var(--secondary-font);
    color: var(--btn-color);
}
p {
    display: block;
    margin: 0;
    color: white;
    font-size: 40px;

}
.div-p {
    color:black;
    font-size: 20px;
}
.btn {
    background-color: var(--btn-color);
    color: white;
    font-weight: 400;
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;;

}
.btn-style {
    background: var(--btn-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px 
}
.btn-branding {
    color: white;
    border: 1px solid var(--btn-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
@media (max-width: 900px) {
    .project-description {
        text-align: center;
    }
    h1 {
        font-size: 60px;
    }
    .about-section {
        text-align: center;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    h4 {
        font-size: 26px;
    }
}
.nav-item:hover {
    background-color: var(--primary-color);
    color:white;
}
.about-section-content {
    margin:30px;

}
div {
    display: block;
}
.about-section h1 {
    font-size: 64px;
    line-height: 80px;
    color: black;
    font-family: var(--primary-font);
}
.about-section h2 {
    font-size: 30px;
    font-family: var(--secondary-font);
    
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
.container {
    width: 100%;
}
.about-section p {
    color: black;
    font-size: 16px;
    line-height: 30px;
}
img {
overflow-clip-margin: content-box;
overflow: clip;
}
.content-container {
    padding: 160px 20px;

}
.content {
    margin: 30px;
}
.content h1 {
    font-size: 64px;
    line-height: 80px;
    color: var(--btn-color)
}
.content p {
    font-size:20px;

}
.content h3 {
    font-size: 33px;;
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--secondary-font);
}
.nav-item {
    display: inline;
    justify-content: flex-end;
}
footer {
    margin: 60px 0;
    display: block;
}
footer .contact-box {
    background-color: var(--primary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
footer .social-links a {
    margin: 0 20px;
    color: white;
    background-color: var(--btn-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
    color: var(--btn-color);
    background-color: white;
}

h4 {
    color:black;
    font-family: var(--primary-font);

}
footer .email-link {
    color:black;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}
footer .email-link:hover {
    color: var(--btn-color);
}